/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.ui-boxgrp { overflow: hidden;margin:0px; }
.ui-box-a, .ui-box-b, .ui-box-c, .ui-box-d, .ui-box-e, .ui-box-f, .ui-box-g, .ui-box-h, .ui-box-j, .ui-box-k { width: 10%;float: left; }
.ui-boxgrp { clear: left; }
.ui-box-div {top: 50%;height: 50%;width: 100%;text-align: center;cursor:pointer;padding-top:10px;padding-bottom:10px;
             border: 1px solid 		#456f9a /*{b-bar-border}*/;
             background: 			#5e87b0 /*{b-bar-background-color}*/;
             color: 					#fff /*{b-bar-color}*/;
             font-weight: bold;
             text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
             background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 ), to( #497bae /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
             background-image: -webkit-linear-gradient( #6facd5 , #497bae /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
             background-image:    -moz-linear-gradient( #6facd5 , #497bae /*{b-bar-background-end}*/); /* FF3.6 */
             background-image:     -ms-linear-gradient( #6facd5 , #497bae /*{b-bar-background-end}*/); /* IE10 */
             background-image:      -o-linear-gradient( #6facd5 , #497bae /*{b-bar-background-end}*/); /* Opera 11.10+ */
             background-image:         linear-gradient( #6facd5 , #497bae /*{b-bar-background-end}*/);
}
.ui-box-div-click {top: 50%;height: 50%;width: 100%;text-align: center;cursor:pointer;padding-top:10px;padding-bottom:10px;
        border: 1px solid 		#B3B3B3 /*{c-bar-border}*/;
	background: 			#eeeeee /*{c-bar-background-color}*/;
	color: 					#3E3E3E /*{c-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 1px /*{c-bar-shadow-radius}*/ 	#fff /*{c-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f0f0f0 ), to( #ddd )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f0f0f0 , #ddd ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f0f0f0 , #ddd ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f0f0f0 , #ddd ); /* IE10 */
	background-image:      -o-linear-gradient( #f0f0f0 , #ddd ); /* Opera 11.10+ */
	background-image:         linear-gradient( #f0f0f0 , #ddd );
}
.ui-box-div-clicked {top: 50%;height: 50%;width: 100%;text-align: center;cursor:pointer;padding-top:10px;padding-bottom:10px;
             border: 1px solid 		#333 /*{a-bar-border}*/;
	background: 			#111111 /*{a-bar-background-color}*/;
	color: 					#ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3c3c3c ), to( #111 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #3c3c3c , #111 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3c3c3c , #111 ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #3c3c3c , #111 ); /* IE10 */
	background-image:      -o-linear-gradient( #3c3c3c , #111 ); /* Opera 11.10+ */
	background-image:         linear-gradient( #3c3c3c , #111 );
}

.ui-dialog  .ui-header .ui-btn-icon-notext	{ display:none;} 
#one .ui-header {
  padding-top:15px;
}